@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');


body{
    border: 3px solid black; 
    margin: 0;
}
header{
    display: flex; 
    justify-content: space-between;
    padding: 20px;
}
.navbar > ul{
display: flex;
gap: 5px;
}
.navbar > ul > li , a{
    list-style-type: none; 
    text-decoration: none;
    color: black;
}
.first-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.title{
font-family: "Patrick Hand", cursive;
font-weight: 600;
font-size: 3em
}
.discr{
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
font-size: 1em;
color: grey;
}
section{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.Projects{
    border: 2px solid black;
    padding: 10px;
}

.Experience{
    border: 2px solid black;
    padding: 10px;
}
.Experience > a{
    color: rgb(0, 110, 255);
}
.Education{
    border: 2px solid black;
    padding: 10px;
}
h3{
    font-family: "Patrick Hand", cursive;
    font-weight: 600;
}
 .Reviews{
    padding: 20px;
 }
.teachers{
    display: flex;
    gap: 10px;
}
.teachers > div{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1em;
    border: 2px solid black;
    border-radius: 35px;
    width: 25%;
    padding: 15px;
    margin-left: 50px;
}

.names{
    color: grey;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Patrick Hand", cursive;
    font-weight: 600;
    font-size: 2em;
}

